# Notebook dependencies
plotly>=4.0
world_bank_data

# Tools used in the article
jupytext>=1.2
papermill>=1.2
nbconvert>=5.5
jupyter_core>=4.5

# TOC extension for Binder
jupyter_contrib_nbextensions

# README.md as a Bash notebook
bash_kernel
